body {
  width: 100vw;
  align-items: center;
  display: flex;
  margin: auto;
  padding: 0;
  justify-content: center;
  height: 100vh;
  background: black;
  line-height: 1.4em;
  font-size: 20px;
}
#info{
  position: absolute;
  background: black;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px;

}

nav{
  border: 1px solid white;
  display: flex;
}
nav span{
  padding: 10px;
  flex-grow: 1;
  display: inline-block;
  border-right: 1px solid white;
  text-align: center;
  cursor: pointer;
  background: black;
}


canvas {
  width: 100vw;
  height: calc((9/16)*100vw);
}
@media (min-aspect-ratio:16/9) {
  canvas {
    height: 100vh;
    width: calc((16/9)*100vh);
  }
}

#info.hide, #info > .usage,#info > .sequencer,#info > .instrument{
  display: none;
}
#info.usage > .usage,#info.sequencer > .sequencer,#info.instrument > .instrument{
  display: block;
  padding: 30px;
}



.start{
  text-align: center;
}

a, a:visited{
  color: white;
}

#start{
  background: white;
  color: black;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  font-size: 2em;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
}

#info.usage nav .usage,#info.sequencer nav .sequencer,#info.instrument nav .instrument,
#start:hover, nav span:hover{
  filter: invert(1);
}
