@import "theming"
@import "mixins"
@import "common"
@import "texts"
@import "header"
@import "footer"
@import "posts"
@import "work"
@import "live-emojing"
@import "cv2612"
@import "labs"
@import "fmtribe"
@import "music"
@import "bio"

#app
  margin: 0 auto 100px
  width: 95%
  +breakpoint(sm)
    width: 700px
  +breakpoint(lg)
    width: 1000px
