html,body
  margin: 0
  padding: 0

html
  overflow-y: scroll
  scrollbar-width: none /* Firefox */
  -ms-overflow-style: none  /* IE 10+ */
  &::-webkit-scrollbar  /* WebKit */
    width: 0

body
  font-family: 'Inconsolata', sans-serif
  font-size: 20px

p
  line-height: 1.6em
  &.spacey
    margin: 90px auto 30px

%no-select
  user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  -webkit-touch-callout: none
  -o-user-select: none
  -moz-user-select: none
