html,body
  margin: 0
  padding: 0

html
  background-color: $black

body
  font-family: 'Inconsolata', sans-serif
  font-size: 20px
  color: $white

a, a:visited
  color: $white

p
  line-height: 1.6em
  &.spacey
    margin: 90px auto 30px

.work-post
  p
    margin-bottom: 40px
    text-align: justify
  table
    width: 100%
  hr
    // big dashed hr
    margin: 100px 0% 60px
    height: 2px
    border: 0
    background-image: linear-gradient(to right, $black 40%, $white  0%)
    background-position: bottom
    background-size: 20px
    background-repeat: repeat-x
  ul
    margin-bottom: 60px
  h2,h3
    margin-bottom: 40px
    line-height: 1.75em



header
  display: table
  width: 100%
  margin: 50px 0
  h1,nav
    display: block
    vertical-align: baseline
    margin: 0
    padding: 0

  +breakpoint(xs)
    h1,nav
      display: table-cell

  h1
    font-size: 1.75em
  a
    text-decoration: none
    &.active
      text-decoration: underline
      color: lighten($white,1.3)
      text-shadow: 2px 2px 4px #666,-2px -2px 6px #666
  nav
    font-size: 1em
    text-align: right
    margin-top: 0.5em
    a
      text-decoration: none

#app
  margin: 0 auto 100px
  width: 95%
  +breakpoint(xs)
    article.post
      margin-right: 0
  +breakpoint(sm)
    width: 700px
    article.post
      margin-right: 20px
      &:nth-child(2n)
        margin-right: 0
  +breakpoint(lg)
    width: 1000px
    article.post
      margin-right: 20px
      &:nth-child(2n)
        margin-right: 20px
      &:nth-child(3n)
        margin-right: 0



html
  overflow-y: scroll
  scrollbar-width: none /* Firefox */
  -ms-overflow-style: none  /* IE 10+ */
  &::-webkit-scrollbar  /* WebKit */
    width: 0

footer
  margin: 120px 0
  text-align: center
  font-size: 0.8em
