.cv2612
  table
    td
      padding: 20px 20px 40px 20px

  input[type="range"]
    -webkit-appearance: none
    width: 200px
    height: 25px
    background: #d3d3d3
    outline: none
    &::-webkit-slider-thumb
      -webkit-appearance: none
      appearance: none
      width: 25px
      height: 25px
      background: #509eec
      cursor: pointer
    &::-moz-range-thumb
      appearance: none
      width: 25px
      height: 25px
      background: #509eec
      cursor: pointer

  .vert
    transform: rotate(270deg)
