//heavier rule to override theming
.dont-use-this
  #app header nav a.labs:hover
    text-shadow: 3px 3px 3px magenta,-3px -3px 3px magenta
    transition: none
    i
      animation: none

header
  @extend %no-select
  display: table
  width: 100%
  margin: 50px 0
  h1,nav
    display: block
    vertical-align: baseline
    margin: 0
    padding: 0

  +breakpoint(xs)
    h1,nav
      display: table-cell

  h1
    font-size: 1.75em
  a
    cursor: pointer
    text-decoration: none
    line-height: 1.5em
    display: inline-block
    padding: 0 0.5em
    &.active
      text-decoration: underline
    &.labs
      //animation: atention 10s
      //will-change: opacity
      i
        will-change: opacity
        font-style: normal
        animation: typing 10s infinite steps(1, end) forwards
        opacity: 1
        @for $i from 1 through 4
          &:nth-child(#{$i})
            animation-delay: ($i/8)+s

  nav
    font-size: 1em
    text-align: right
    a
      text-decoration: none


@keyframes typing
  from, to, 20%
    opacity: 1
  10%
    opacity: 0


@keyframes atention
  from
    opacity: 0
    //although pretty, this isnt performant at all
    //text-shadow: 4px 4px 4px magenta,-4px -4px 4px magenta,4px -4px 4px magenta,-4px 4px 4px magenta
  to
    opacity: 1
    //text-shadow: 2px 2px 4px #666,-2px -2px 6px #666
