body.io
  #app
    text-align: center
    .qr-reader
      filter: grayscale(1)
    p
      font-size: 1.5em
    button
      background: $white
      color: $black
      border: 1px solid $black
      margin: 10px auto
      padding: 10px
      font-size: 2em
      font-family: monospace
      font-weight: bold
      cursor: pointer
      outline: 0
