.morse
  h3
    text-align: center
  .input
    input
      width: 90%
      padding: 0.5em
      font-size: 1.5em
      height: 2em
      box-sizing: border-box
      font-family: Inconsolata
      vertical-align: bottom
      border: 0
    button
      width: 10%
      border: 0
      padding: 0.5em
      height: 2em
      font-size: 1.5em
      cursor: pointer

  .output
    margin: 1em 0
    font-size: 1.8em

    nav
      width: 100%
      flex-flow: row wrap
      display: flex
      justify-content: space-between
      span
        display: inline-block
        text-align: center
        width: 15%
        height: 1.5em
        &.current
          background: $white
          color: $black

    .letter
      text-align: center
      font-size: 1.5em
      height: 1.5em
      line-height: 1.5em
      width: 3em
      margin: 0 auto
      border: 2px dashed $white

  .hint
    font-size: 1em
    margin: 20px 0
    span
      width: 16.6%
      height: 1.3em
      line-height: 1.3em
      display: inline-block

body.io
  #app
    header
      font-size: 0.75em
      margin: 30px 0
      text-align: left

    img.title
      max-width: 398px
      width: 100%

    text-align: center
    .qr-reader
      filter: grayscale(1)
    .symbol
      filter: grayscale(1)
      text-shadow: $white 0 0 20px
      font-size: 2.5em
      line-height: 2em
      margin: 0 0.5em
      display: inline-block
    .relation
      font-size: 1.8em
      font-weight: bold
    .stats
      margin: 50px 0
      ul
        list-style: none
        text-align: left
        li
          margin-bottom: 12px
      .symbol
        font-size: 1.5em
        line-height: 1.5em

    p
      font-size: 1.25em
    button
      background: $white
      color: $black
      border: 1px solid $black
      margin: 10px auto
      padding: 10px
      font-size: 1.5em
      font-family: monospace
      font-weight: bold
      cursor: pointer
      outline: 0
