.playlist-player
  nav
    border: 1px solid $white
    border-bottom: 0
    position: relative
    @extend %no-select
    margin: 10px auto 0
    width: 100%
    box-sizing: border-box
    display: flex
    align-items: stretch
    > svg
      flex-grow: 1
    .timer
      flex-grow: 1
    svg
      width: 60px
      padding: 0.5em 0
      height: 1em
      cursor: pointer
      &.active, &:hover
        background: #ddd
        color: black
    .volume-slider
      flex-grow: 10
      padding: 0 20px
      input
        border: 0
        -webkit-appearance: none
        height: 2em
        outline: none
        background: transparent
        &::-webkit-slider-runnable-track
          margin-top: 0.5em
          clip-path: polygon(0 90%, 0 100%, 100% 100%, 100% 10%)
          background: darken($white,50%)
        &::-moz-range-track
          margin-top: 0.5em
          clip-path: polygon(0 90%, 0 100%, 100% 100%, 100% 10%)
          background: darken($white,50%)
        &::-webkit-slider-thumb
          -webkit-appearance: none
          appearance: none
          width: 40px
          height: 30px
          background: $white
          cursor: pointer
          clip-path: none
        &::-moz-range-thumb
          appearance: none
          width: 40px
          height: 30px
          background: $white
          cursor: pointer
    .timer
      flex-grow: 1
      display: block
      padding: 0.5em
      height: 1em
      text-align: center


  ul
    list-style: none
    padding: 0
    margin: 0
    border: 1px solid $white
    li
      box-sizing: border-box
      display: flex
      align-items: stretch
      cursor: pointer
      line-height: 1.75em
      &:hover, &.active
        background: $white
        color: $black
      span
        padding: 0 0.5em
      .timer
        flex-grow: 1
      .title
        flex-grow: 5
        //ellipsis truncate
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
