.slider
  margin: 10px 0
  padding: 3px 7px
  border: 2px solid transparent
  &.learn
    background: rgba(0,255,255,0.12)
    &:hover
      cursor: pointer
      border: 2px dashed rgba(0,255,255,0.2)
    &.active
      border: 2px dashed rgba(0,255,255,0.35)
    &.mapped
      background: rgba(0,255,255,0.35)
      border-color: transparent
